<pre>
  TO DO:
  1 - Add List for pantry items
  2 - Add List for shopping items
  1.1 && 2.1 - List items should be a form (live edit and delete)
  1.2 && 2.2 - Name and amount

  3 - Recipe List should be able to interact with the data:
    - add items to shopping List
    - ? purge/check itens in pantry before adding to shopping list

  4 - Search form for pantry to check available recipes with current ingredients
    - perhaps better if on recipe page ('search recipes for current pantry')
</pre>
